h1 {
    font-size: 2em;
}

.card-header {
    padding: 0;
}

.container {
    padding: 40px;
    margin-top: 50px;
}

.accordion {
    margin-bottom: 100px;
}

.btn:focus {
    box-shadow: none
}

.card-header {
    background-color: rgb(240, 240, 240);
}